@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins/Poppins-Light.ttf) format('woff');
}
body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 4%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Poppins',
    monospace;
}



.todo {
  cursor: pointer;
  border: 2px solid #58af8b;
  border-radius: 20px 20px;
  margin: 5px auto 5px auto;

  width:60%;
}
.todo:hover {
  background-color: #d8f0e6;
}
.strike {
  text-decoration: line-through double rgb(255, 114, 114);
  

}

input[type=text] {
  padding: 10px;
  margin:10px 0;
  border-radius:5px;
  border-width: 1px;
}

.clearCompletedButton{
  padding:10px;
  border:none;
  background-color:#58af8b;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:60%;
}

div{
  padding: 0.5%;
}

.submitButton{
  padding: 10px;
  margin:5px;
  background-color: #58af8b;
  border: none;
  color:#fff;
  font-weight:600;
  border-radius:5px;
}